<ion-view title="About">
  <ion-content padding="true" class="has-header">
    <h2>Welcome to the Great Hunt!</h2>
    <p>To play the game, first choose from an existing hunt, or add a create a new hunt yourself. Once you have selected or created your hunt, it is time to set up a game.
    When you set up your game, as game creator, you will receive a four-letter game code to send to your friends. Only your friends with the game code can play, so don't forget to share it!
    Once everyone has entered the game code, and given their team a name, it is time to begin the hunt. As creator, you will start the game, and everyone will be presented with the first challenge.
    Use the photo and the challenge description to get the information required to answer the question. Once you have typed in the correct answer, you will be sent to the next challenge. First team to complete all the challenges wins!
    </p>
  </ion-content>
</ion-view>
