<ion-view title="Challenge">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Time Remaining: {{minutes}} mins {{seconds}} seconds</p>
    </div>
    <div>
      <img ng-src={{challenge.pictureURL}}>
    </div>

    <h4>Description:  {{challenge.description}}</h4>
    <h4>Question: {{challenge.question}}</h4>

    <form name="challengeForm" novalidate>
      <label class="item item-input">
        <input type="text" name="input" ng-model="user.answer"
          ng-class="{ 'error': isWrong() && challengeForm.input.$dirty }"
          placeholder="Enter answer">
      </label>
      <button class="button button-stable button-block"
        ng-disabled="isWrong()" ng-click="moveToNext()">Submit</button>
      <button class="button button-stable button-block" ng-click="endGame()">Leave Game</button>
    </form>
  </ion-content>
</ion-view>
