<ion-view title="Challenge">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Time Remaining: 42 mins 36 seconds</p>
    </div>
    <div>
      <img ng-src={{challenge.pictureURL}}>
    </div>

    <h4>Description:  {{challenge.description}}</h4>
    <h4>Question: {{challenge.question}}</h4>

    <form name="challengeForm" ng-submit='moveToNext()' novalidate>
      <label class="item item-input">
        <input type="text" name="input" ng-model="user.answer"
          ng-class="{ 'error': isWrong() && challengeForm.input.$dirty }"
          placeholder="Enter answer">
      </label>
      <button type="submit" class="button button-stable button-block"
        ng-disabled="isWrong()">Submit</button>
    </form>
  </ion-content>
</ion-view>
