<ion-view title="Create Hunt">
    <ion-content padding="true" class="has-header">
        <h1>Create a Hunt</h1>
        <form class="list">
            <h4>Hunt Name</h4>
            <label class="item item-input">
                <input type="text" ng-model="hunt.name" placeholder="Hunt Name">
            </label>
            <div ng-show="invalid">
              <h4>Hunt name is already taken. Please try another one.</h4>
            </div>
            <h4>Hunt Location</h4>
            <label class="item item-input">
                <input type="text" ng-model="hunt.location" placeholder="Hunt Location">
            </label>
            <h4>Hunt Description</h4>
            <label class="item item-input">
                <input type="text" ng-model="hunt.description" placeholder="Hunt Description">
            </label>
        </form>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-model="hunt.private" >Private Hunt?</ion-toggle>
        </form>
        <form class="list"></form>
        <button class="button button-positive button-block " ng-click="createHunt(hunt)">Add a Challenge!</button>
        <button class="button button-positive button-block " ng-click="redirect('tabs.welcome')">Cancel</button>
    </ion-content>
</ion-view>