<ion-view>
  <ion-content padding="true" >
    <div class="spacer" style="width: 300px; height: 122px;"></div>
    <h2>Game Code: <span class="gamecode">{{gameCode}}</span></h2>
    <h2>Are you playing in this game?</h2>
    <div class="button-bar">
        <button class="button button-positive button-block " ng-click="redirect('createTeam')">Yes</button>
        <button class="button button-stable button-block " ng-click="redirect('dashboard')">No</button>
    </div>
  </ion-content>
</ion-view>
