<ion-view title="Create Challenge">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2>Create a Challenge</h2>
            <form class="list">
                <h4>Challenge Description</h4>
                <label class="item item-input">
                    <input type="text" ng-model="challenge.description" placeholder="Challenge Description">
                </label>
                <h4>Challenge Question</h4>
                <label class="item item-input">
                    <input type="text" ng-model="challenge.question" placeholder="Challenge Question">
                </label>
                <h4>Challenge Answer</h4>
                <label class="item item-input">
                    <input type="text" ng-model="challenge.answers" placeholder="Challenge Answer">
                </label>
            </form>
        </form>
        <div class="btn">
          <span>Upload Photo</span>
          <input type="file" id="photo">
        </div>
        <button class="button button-stable button-block " ng-model="challenge.pictureURL" ng-click="uploadPhoto()">Upload Photo</button>
        <button class="button button-stable button-block " ng-click="addChallenge(challenge)">Submit</button>
        <img ng-src={{challenge.pictureURL}}>
    </ion-content>
</ion-view>
