<ion-view title="Create Hunt">
    <div class="bar bar-header bar-balanced">
        <button class="button icon-left ion-ios-arrow-left button-clear pull-left" ng-click="redirect('tabs.welcome')"><span class="header-button">&nbsp;&nbsp;Cancel</span></button>
      <h1 class="title">Create a Hunt</h1>
    </div>
    <ion-content padding="true" class="has-header">
      <div class="content">
        <form class="list">
            <h4>Hunt Name</h4>
            <label class="item item-input">
                <input type="text" ng-model="hunt.name">
            </label>
            <div ng-show="invalid">
              <p class="message error-message">Hunt name is already taken.<br>Please try another one.</p>
            </div>
            <h4>Location</h4>
            <label class="item item-input">
                <input type="text" ng-model="hunt.location">
            </label>
            <h4>Description</h4>
            <label class="item item-input">
                <input type="text" ng-model="hunt.description">
            </label>
        </form>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-model="hunt.private" >Private Hunt?</ion-toggle>
        </form>
        <form class="list"></form>
        <button class="button button-positive button-block " ng-disabled="!(isValidHunt())" ng-click="createHunt(hunt)">Add a Challenge!</button>
      </div>
    </ion-content>
</ion-view>