<ion-view title="Create A Team">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 122px;"></div>
    <form class="list">
      <label class="item item-input">
        <input type="text" placeholder="Enter team name" ng-model="data.teamName">
      </label>
    </form>
    <div class="button-bar">
      <button class="button button-stable button-block " ng-click="sendTeam()">Join!</button>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </div>
  </ion-content>
</ion-view>
