<ion-view title="Hunt Detail">
  <ion-content>
    <div class="item ">
      <p>{{hunt.name}}</p>
    </div>

    <div class="item">
      <p>{{hunt.location}}</p>
    </div>

    <div class="item">
      <p>{{hunt.description}}</p>
    </div>

    <button class="button button-energized button-block" ng-click="makeGame()">Make A New Game</button>
    <button class="button button-energized button-block " ng-click="redirect('hunts.index')">Back to Hunts List</button>

  </ion-content>
</ion-view>
