<ion-view title="Join Game">
  <div class="bar bar-header bar-balanced">
    <button class="button icon-left ion-ios-arrow-left button-clear pull-left" ng-click="redirect('tabs.welcome')"><span class="header-button">&nbsp;&nbsp;Back</span></button>
    <h1 class="title">Join Game</h1>
  </div>
  <ion-content padding="true" class="has-header" scroll="false">
    <div class="content">
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <h3 class="pull-center">Enter game code</h3>

      <form class="list">
        <label class="item item-input">
          <input class="gamecode" type="text" ng-model="data.gameCode">
        </label>
      </form>

      <div ng-show="invalid">
        <h2 class="message error-message">Not a valid game code. Please try again.</h2>
      </div>

      <button class="button button-stable button-block " ng-click="joinGame()">JOIN</button>
    </div>

  </ion-content>
</ion-view>
