<ion-view title="Join Game">
  <ion-content padding="true">
    <h3>Enter game code</h3>

    <form class="list">
      <label class="item item-input">
        <input class="gamecode" type="text" ng-model="data.gameCode">
      </label>
    </form>

    <div ng-show="invalid">
      <h2>Not a valid game code. Please try again.</h2>
    </div>

    <button class="button button-stable button-block " ng-click="joinGame()">JOIN</button>
    <button class="button button-stable button-block " ng-click="redirect('tabs.welcome')">Back to Main Menu</button>

  </ion-content>
</ion-view>
