<!--this is not MVP -->
<ion-view title="Preview Challenge">
    <div class="bar bar-header bar-balanced">
      <h1 class="title">Preview Challenge</h1>
    </div>
    <ion-content padding="true" class="has-header">
        <div class="content">
            <ion-list>
                <ion-item class="item-thumbnail-left">
                    <img src="/img/avatar-img.png">
                    <h2>Challenge Question</h2>
                    <p>Challenge description / Challenge answer</p>
                </ion-item>
            </ion-list>
            <button class="button button-stable button-block ">Edit Challenge</button>
        </div>
    </ion-content>
</ion-view>
