<ion-view title="Start Game">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <h2>Start the Hunt when the teams are ready!</h2>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <h3>Game Code: XYZ</h3>
        <ion-list>
            <ion-item>Jocular Jaguars</ion-item>
            <ion-item>Team That Will Lose</ion-item>
            <ion-item>Even Bigger Losers</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <button class="button button-stable button-block ">START GAME</button>
    </ion-content>
</ion-view>