<ion-view title="Tabs">
  <ion-tabs class="tabs-balanced tabs-icon-top">
    <ion-tab title="welcome" icon="ion-ios-game-controller-b-outline" >
       <ion-nav-view name="welcome" href="#/home/welcome.html"></ion-nav-view>
    </ion-tab>
    <ion-tab title="about" icon="ion-ios-chatbubble-outline" >
    <ion-view title="about">
      <ion-content padding="true" class="has-header">
      <h2>Here is some content! Yay!</h2>
      </ion-content>
    </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
