<ion-view title="Tabs">
  <ion-tabs class="tabs-balanced tabs-icon-top">
    <ion-tab title="Welcome" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" >
       <ion-nav-view name="welcome" href="#/home/welcome.html"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" >
      <ion-view title="about">
        <div class="bar bar-header bar-balanced">
            <h1 class="title">The Great Hunt</h1>
        </div>
        <ion-content padding="true" class="has-header">
          <div class="content">
            <h3>Creating a hunt</h3>
              <p>In order to create a hunt, you must be signed in on your personal account.
              Hunts can be private, so that only you can start the game using that hunt.
              Public hunts are available to everyone!</p>
            <h3>Starting a game</h3>
              <p>To start a scavenger hunt with your friends, go to Choose a Hunt and choose
              a hunt from the list available. Click on each hunt for a further description of what the hunt entails!</p>
              <p>Once a hunt has been created, you will be given a game code, which you can give to friends so they can join your game. Click start once all your friends have joined and are listed in the game lobby!</p>
            <h3>Joining a friend's game</h3>
              <p>To join a game, one person in the group must have created a new game through
              Choose a Hunt. Enter the game code they were given and you will prompted for your team name and sent to the lobby of their game!</p>
            </div>
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>