<ion-view title="Start Game PopUp 2">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 122px;"></div>
        <h1>Enter Team Name</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <button class="button button-positive button-block ">Join!</button>
            <button class="button button-stable button-block ">Back</button>
        </div>
    </ion-content>
</ion-view>