<ion-view title="Welcome">
  <ion-content padding="true" class="has-header has-footer">
    <h2>Welcome To The Great Hunt!</h2>
    <p ng-show="isLoggedIn()">Build your own scavenger hunt!</p>
    <button class="button button-positive button-block " ng-click="redirect('createHunt')" ng-show="isLoggedIn()">Create A Hunt</button>
    <p>Choose a hunt for you and your friends!</p>
    <button class="button button-energized button-block " ng-click="create()">Choose A Hunt</button>
    <p>Join your friend's hunt!</p>
    <button class="button button-stable button-block " ng-click ="redirect('joinGame')">Join A Hunt</button>
    <button class="button button-stable button-block " ng-show="!isLoggedIn()" ng-click ="redirect('login')">Back to Login</button>
    <button class="button button-stable button-block " ng-show="isLoggedIn()" ng-click ="signOut()">Sign Out</button>
  </ion-content>
</ion-view>
