<ion-view title="Welcome">
  <ion-content padding="true" class="has-header has-footer">
    <h1>Welcome To The Scavenger Hunt!</h1>
    <h3>Make new game</h3>
    <form class="list">
      <label class="item item-select">
        <span class="input-label">Select Hunt</span>
        <select></select>
      </label>
    </form>

    <button class="button button-stable button-block ">Create Game!</button>
    <h3>Join game</h3>

    <form class="list">
      <label class="item item-input">
        <input type="text" placeholder="Enter Game Code">
      </label>
    </form>
    <button class="button button-stable button-block ">JOIN!</button>
  </ion-content>
</ion-view>