<ion-view title="Create Challenge">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2>Create a Challenge</h2>
            <form class="list">
                <h4>Challenge Description</h4>
                <label class="item item-input">
                    <input type="text" placeholder="Challenge Description">
                </label>
                <h4>Challenge Question</h4>
                <label class="item item-input">
                    <input type="text" placeholder="Challenge Question">
                </label>
                <h4>Challenge Answer</h4>
                <label class="item item-input">
                    <input type="text" placeholder="Challenge Answer">
                </label>
            </form>
        </form>
        <button class="button button-stable button-block ">Upload Photo</button>
        <button class="button button-stable button-block ">Preview and Submit</button>
    </ion-content>
</ion-view>