<ion-view title="Preview Challenge">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Challenge Question</h2>
                <p>Challenge description / Challenge answer</p>
            </ion-item>
        </ion-list>
        <button class="button button-stable button-block ">Edit Challenge</button>
        <button class="button button-stable button-block ">Add Next Challenge</button>
        <button class="button button-stable button-block ">Complete Hunt</button>
    </ion-content>
</ion-view>