<ion-view title="Preview Hunt">
    <ion-content padding="true" class="has-header">
        <h3>(Hunt Name)</h3>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>(Challenge 1 Question)</h2>
                <p>(Challenge description)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>(Challenge 2 Question)</h2>
                <p>(Challenge description)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>(Challenge 3 Question)</h2>
                <p>(Challenge description)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>(Challenge 4 Question)</h2>
                <p>(Challenge description)</p>
            </ion-item>
        </ion-list>
        <button class="button button-stable button-block ">Submit Hunt</button>
    </ion-content>
</ion-view>