
.header {
  background-color: #4c6b4b;
  font-size: 40px;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

.header p {
  color: #eeeeee;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
}

body {
  background-color: #eeeeee;
  color: #4C6B4B;
  font-family: 'Overlock', cursive;
}

div {
  color: #eeeeee;
}

img {
   height: auto;
   overflow: hidden;
   padding: 1%;
   width: 29%;
}

#imgDiv {
  overflow: hidden;
}

.leftImg {
  margin-left: 2%;
}

.rightImg {
  margin-right: 2%;
}

h1 {
  font-size: 55px;
  font-family: 'Overlock', cursive;
  text-align: center;
}

h2 {
  font-family: 'Overlock', cursive;
  text-align: center;
}

h3 {
  bottom: 14%;
  /*color: #000000;*/
  position: relative;
  width: 75%;
}

p {
  font-family: 'Overlock', cursive;
  font-size: 20px;
  margin: 4% 15% 4% 15%;
}

button {
  background-color: #79ac78;
  border-radius: 10px;
  border: none;
  color: #eeeeee;
  display: block;
  font-size: 20px;
  height: 50px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
  width: 75%;
}

a {
  text-decoration: none;
}

.hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
