
.header {
  margin-top: 0;
  padding-top: 0;
  background-color: #4c6b4b;
  width: 100%;
  font-size: 40px;
}

.header p {
  margin-top: 0;
  text-align: center;
  color: #eeeeee;
  vertical-align: middle;
  font-size: 40px;
}

body {
  background-color: #eeeeee;
  font-family: 'Overlock', cursive;
  color: #4C6B4B;
}

img {
   height: auto;
   padding: 1%;
   width: 29%;
   overflow: hidden;
}

#leftImg {
  margin-left: 2%;
}

#rightImg {
  margin-right: 2%;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Overlock', cursive;
}

h2 {
  text-align: center;
  font-family: 'Overlock', cursive;
}

p {
  margin: 4% 15% 4% 15%;
  font-size: 25px;
  font-family: 'Overlock', cursive;
}

button {
  text-align: center;
  display: block;
  width: 75%;
  height: 50px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: #79ac78;
  border-radius: 10px;
  border: none;
}

button a {
  color: #eeeeee;
  font-size: 20px;
  text-decoration: none;
}
