.header-button {
  font-size: 13px;
}

.content {
  padding: 15px;
}

img {
  max-width:100%;
  height:auto;
}

.gamecode {
  text-transform: uppercase;
}

.hidden-nav-bar {
  display: none;
}

.message {
  text-align: center;
  font-size: 18px;
}

.error-message {
  color: red;
}

.pull-center {
  text-align: center;
}

.time {
  font-size: 18px;
  text-align: right;
}